
@media(max-width:1020px)
{
    .header
    {
        width: 100%;
        height: 80px;
    }
    .container
    {
        width: 90%;
        height: 80px;
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }
    .container .logo  img
    {
        margin-left: 5px;
    }
    .container ul
    { 
        display: flex;
    }
    .container ul li
    {
        list-style: none;
        padding: 0px 15px;
    }
    .container ul li a
    {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
    .container ul li a :hover
    {
        content: '';
        border-bottom: 1px solid orangered;
        width: 100%;
        color: orangered;
        display: block;
        transition: 0.5s;
    }
    .home::after
    {
        content: '';
        border-bottom: 3px solid orangered;
        width:4%;
        display: block;
        margin-top: 20px;
        position: absolute;
    }

/* photoes */

.photoes
{
    width: 100%;
    height: 2000px;
}
.sub-photoes
{
    width: 80%;
    height: 1800px;
    margin: auto;
    position: relative;
    top: 100px;
}
.first-line
{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.sec-line
{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.third-line
{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}

/* first-line */

.fl-img1
{
    width: 30%;
    height: 550px;
}
.sub-fl1
{
    width: 100%;
    height: 400px;
}
.sub-fl1 img
{
    width: 100%;
    height: 100%;
}
.sub-fl-data1
{
    width: 100%;
    height: 150px;
}
.sub-fl-data1 h4
{
    padding: 20px 0px;
}
.sub-fl-data1 p
{
    padding: 20px 0px;
    color: orangered;
    font-size: 16px;
}

.fl-img2
{
    width: 20%;
    height: 550px;
}
.sub-fl2
{
    width: 100% ;
    height: 250px;
}
.sub-fl2 img
{
    width: 100%;
    height: 100%;
}
.sub-fl-data2
{
    width: 100%;
    height: 300px;
}
.sub-fl-data2 h4
{
    padding: 20px 0px;
}
.sub-fl-data2 p
{
    padding: 20px 0px;
    color: orangered;
    font-size: 16px;
}

.fl-img3
{
    width: 40%;
    height: 550px;
}
.sub-fl3
{
    width: 100% ;
    height: 350px;
}
.sub-fl3 img
{
    width: 100%;
    height: 100%;
}
.sub-fl-data3
{
    width: 100%;
    height: 300px;
}
.sub-fl-data3 h4
{
    padding: 20px 0px;
}
.sub-fl-data3 p
{
    padding: 20px 0px;
    color: orangered;
    font-size: 16px;
}

/* sec-line */

.sl-img1
{
    width: 40%;
    height: 550px;
}
.sub-sl1
{
    width: 100%;
    height: 400px;
}
.sub-sl1 img
{
    width: 100%;
    height: 100%;
}
.sub-sl-data1
{
    width: 100%;
    height: 150px;
}
.sub-sl-data1 h4
{
    padding: 20px 0px;
}
.sub-sl-data1 p
{
    padding: 20px 0px;
    color: orangered;
    font-size: 16px;
}

.sl-img2
{
    width: 20%;
    height: 500px;
    position: relative;
    top: 50px;
}
.sub-sl2
{
    width: 100% ;
    height: 250px;
}
.sub-sl2 img
{
    width: 100%;
    height: 100%;
}
.sub-sl-data2
{
    width: 100%;
    height: 250px;
}
.sub-sl-data2 h4
{
    padding: 20px 0px;
}
.sub-sl-data2 p
{
    padding: 20px 0px;
    color: orangered;
    font-size: 16px;
}

.sl-img3
{
    width: 35%;
    height: 500px;
    position: relative;
    top: 50px;
}
.sub-sl3
{
    width: 100% ;
    height: 350px;
}
.sub-sl3 img
{
    width: 100%;
    height: 100%;
}
.sub-sl-data3
{
    width: 100%;
    height: 150px;
}
.sub-sl-data3 h4
{
    padding: 20px 0px;
}
.sub-sl-data3 p
{
    padding: 20px 0px;
    color: orangered;
    font-size: 16px;
}

/* third-line */

.tl-img1
{
    width: 25%;
    height: 550px;
}
.sub-tl1
{
    width: 100%;
    height: 250px;
}
.sub-tl1 img
{
    width: 100%;
    height: 100%;
}
.sub-tl-data1
{
    width: 100%;
    height: 300px;
}
.sub-tl-data1 h4
{
    padding: 20px 0px;
}
.sub-tl-data1 p
{
    padding: 20px 0px;
    color: orangered;
    font-size: 16px;
}

.tl-img2
{
    width: 45%;
    height: 550px;
}
.sub-tl2
{
    width: 100% ;
    height: 400px;
}
.sub-tl2 img
{
    width: 100%;
    height: 100%;
}
.sub-tl-data2
{
    width: 100%;
    height: 150px;
}
.sub-tl-data2 h4
{
    padding: 20px 0px;
}
.sub-tl-data2 p
{
    padding: 20px 0px;
    color: orangered;
    font-size: 16px;
}

.tl-img3
{
    width: 25%;
    height: 550px;
}
.sub-tl3
{
    width: 100% ;
    height: 250px;
}
.sub-tl3 img
{
    width: 100%;
    height: 100%;
}
.sub-tl-data3
{
    width: 100%;
    height: 300px;
}
.sub-tl-data3 h4
{
    padding: 20px 0px;
}
.sub-tl-data3 p
{
    padding: 20px 0px;
    color: orangered;
    font-size: 16px;
}

.loadbtn
{
    width: 20%;
    padding: 15px 30px;
    position: relative;
    top: 100px;
    left: 40%;
    border-radius: 20px;
}

/* footer */

    .footer
{
    width: 100%;
    height: 500px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 350px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.div1
{
    width: 25%;
    height: 290px;
}
.footer-logo
{
    position: relative;
    top: 25px;
}
.div2
{
    width: 25%;
    height: 290px;
    padding-left: 30px;
}
.div3
{
    width: 25%;
    height: 290px;
    position: relative;
}
.div4
{
    width: 25%;
    height: 290px;
    position: relative;
    padding-left: 30px;
}
.copyright
{
    margin-top: 120px;
}
.copyright p
{
    font-size: 18px;
}
}


@media(max-width:991px)
{
    .header
    {
        width: 100%;
        height: 80px;
    }
    .container
    {
        width: 90%;
        height: 80px;
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }
    .container .logo  img
    {
        margin-left: 5px;
    }
    .container ul
    { 
        display: flex;
    }
    .container ul li
    {
        list-style: none;
        padding: 0px 15px;
    }
    .container ul li a
    {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
    .container ul li a :hover
    {
        content: '';
        border-bottom: 1px solid orangered;
        width: 100%;
        color: orangered;
        display: block;
        transition: 0.5s;
    }
    .home::after
    {
        content: '';
        border-bottom: 3px solid orangered;
        width:5%;
        display: block;
        margin-top: 20px;
        position: absolute;
    }/* photoes */
    
    .photoes
    {
        width: 100%;
        height: 3250px;
    }
    .sub-photoes
    {
        width: 90%;
        height: 3000px;
        margin: auto;
        position: relative;
        top: 100px;
    }
    .first-line
    {
        width: 100%;
        height: 1000px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sec-line
    {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .third-line
    {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    /* first-line */
    
    .fl-img1
    {
        width: 49%;
        height: 500px;
    }
    .sub-fl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-fl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img2
    {
        width: 49%;
        height: 500px;
    }
    .sub-fl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img3
    {
        width: 49%;
        height: 500px;
    }
    .sub-fl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-fl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .sl-img1
    {
        width: 49%;
        height: 500px;
    }
    .sub-sl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-sl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img2
    {
        width: 49%;
        height: 500px;
        position: relative;
        top: 0px;
    }
    .sub-sl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img3
    {
        width: 49%;
        height: 500px;
        position: relative;
        top: -10px;
    }
    .sub-sl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-sl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .tl-img1
    {
        width: 49%;
        height: 500px;
    }
    .sub-tl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-tl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img2
    {
        width: 49%;
        height: 500px;
    }
    .sub-tl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img3
    {
        width: 49%;
        height: 500px;
    }
    .sub-tl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-tl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .loadbtn
{
    width: 30%;
    padding: 15px 30px;
    position: relative;
    top: 50px;
    left: 35%;
    border-radius: 20px;
}

.footer
{
    width: 100%;
    height: 800px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 600px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}

    .div1
{
    width: 50%;
    height: 290px;
}
.div2
{
    width: 50%;
    height: 290px;
}
.div3
{
    width: 50%;
    height: 290px;
}
.div4
{
    width: 50%;
    height: 290px;
}
.footer-para p
{
    color: gray;
    font-size: 14px;
    text-align: justify;
}
.footer-logo
{
    margin-top: 0px;
    position: relative;
    top: -20px;
}

.copyright p
{
    font-size: 17px;
}
}


@media(max-width:768px)
{
    .header
    {
        width: 100%;
        height: 80px;
    }
    .sub-main h1::after
{
    content: '';
    width: 15%;
    display: block;
    border-bottom: 3px solid orangered;
    position: relative;
    top: 15px;
}
    .container
    {
        width: 90%;
        height: 80px;
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }
    .container .logo  img
    {
        margin-left: 5px;
    }
    .container ul
    { 
        display: flex;
    }
    .container ul li
    {
        list-style: none;
        padding: 0px 15px;
    }
    .container ul li a
    {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
    .container ul li a :hover
    {
        content: '';
        border-bottom: 1px solid orangered;
        width: 100%;
        color: orangered;
        display: block;
        transition: 0.5s;
    }
    .home::after
    {
        content: '';
        border-bottom: 3px solid orangered;
        width:5%;
        display: block;
        margin-top: 20px;
        position: absolute;
    }

    /* photoes */
    
    .photoes
    {
        width: 100%;
        height: 3250px;
    }
    .sub-photoes
    {
        width: 80%;
        height: 3000px;
        margin: auto;
        position: relative;
        top: 100px;
    }
    .first-line
    {
        width: 100%;
        height: 1000px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sec-line
    {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .third-line
    {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    /* first-line */
    
    .fl-img1
    {
        width: 49%;
        height: 500px;
    }
    .sub-fl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-fl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img2
    {
        width: 49%;
        height: 500px;
    }
    .sub-fl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img3
    {
        width: 49%;
        height: 500px;
    }
    .sub-fl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-fl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .sl-img1
    {
        width: 49%;
        height: 500px;
    }
    .sub-sl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-sl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img2
    {
        width: 49%;
        height: 500px;
        position: relative;
        top: 0px;
    }
    .sub-sl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img3
    {
        width: 49%;
        height: 500px;
        position: relative;
        top: -10px;
    }
    .sub-sl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-sl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .tl-img1
    {
        width: 49%;
        height: 500px;
    }
    .sub-tl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-tl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img2
    {
        width: 49%;
        height: 500px;
    }
    .sub-tl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img3
    {
        width: 49%;
        height: 500px;
    }
    .sub-tl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-tl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .loadbtn
{
    width: 30%;
    padding: 15px 30px;
    position: relative;
    top: 50px;
    left: 35%;
    border-radius: 20px;
}

.footer
{
    width: 100%;
    height: 800px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 600px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}

    .div1
{
    width: 50%;
    height: 290px;
}
.div2
{
    width: 50%;
    height: 290px;
}
.div3
{
    width: 50%;
    height: 290px;
}
.div4
{
    width: 50%;
    height: 290px;
}
.footer-para p
{
    color: gray;
    font-size: 14px;
    text-align: justify;
}
.footer-logo
{
    margin-top: 0px;
    position: relative;
    top: -20px;
}

.copyright p
{
    font-size: 17px;
}
}


@media(max-width:576px)
{
    .header
    {
        width: 100%;
        height: 300px;
    }
    .container
    {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .container .logo
    {
        text-align: center;
        margin-top: 30px;
    }
    .container ul
    { 
        display: flex;
        flex-direction: column;
    }
    .container ul li
    {
        list-style: none;
        padding: 10px 0px;
    }
    .home::after
    {
        content: '';
        border-bottom: 3px solid orangered;
        width:10%;
        display: block;
        margin-top: 10px;
        position: absolute;
    }

    .sub-main h1::after
    {
        content: '';
        width: 20%;
        display: block;
        border-bottom: 3px solid orangered;
        position: relative;
        top: 15px;
    }
    
    /* photoes */
    
    .photoes
    {
        width: 100%;
        height: 4750px;
    }
    .sub-photoes
    {
        width: 90%;
        height: 4500px;
        margin: auto;
        position: relative;
        top: 100px;
    }
    .first-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sec-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .third-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    /* first-line */
    
    .fl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-fl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-fl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .sl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-sl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-sl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .tl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-tl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-tl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .loadbtn
{
    width: 50%;
    padding: 15px 30px;
    position: relative;
    top: 50px;
    left: 25%;
    border-radius: 20px;
}
    

    .footer
{
    width: 100%;
    height: 800px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 600px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.div1
{
    width: 50%;
    height: 290px;
}
.div2
{
    width: 50%;
    height: 290px;
}
.div3
{
    width: 50%;
    height: 290px;
}
.div4
{
    width: 50%;
    height: 290px;
}
.footer-para p
{
    color: gray;
    font-size: 14px;
    text-align: justify;
}
.footer-logo
{
    margin-top: 10px;
}

.copyright p
{
    font-size: 14px;
}

}


@media(max-width:480px)
{
    .header
    {
        width: 100%;
        height: 300px;
    }
    .container
    {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .container .logo
    {
        text-align: center;
        margin-top: 30px;
    }
    .container ul
    { 
        display: flex;
        flex-direction: column;
    }
    .container ul li
    {
        list-style: none;
        padding: 10px 0px;
    }
    .home::after
    {
        content: '';
        border-bottom: 3px solid orangered;
        width:10%;
        display: block;
        margin-top: 10px;
        position: absolute;
    }

    .sub-main h1::after
    {
        content: '';
        width: 20%;
        display: block;
        border-bottom: 3px solid orangered;
        position: relative;
        top: 15px;
    }
    
    /* photoes */
    
    .photoes
    {
        width: 100%;
        height: 4750px;
    }
    .sub-photoes
    {
        width: 90%;
        height: 4500px;
        margin: auto;
        position: relative;
        top: 100px;
    }
    .first-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sec-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .third-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    /* first-line */
    
    .fl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-fl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-fl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .sl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-sl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-sl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .tl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-tl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-tl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .loadbtn
{
    width: 50%;
    padding: 15px 30px;
    position: relative;
    top: 50px;
    left: 25%;
    border-radius: 20px;
}
    

    .footer
{
    width: 100%;
    height: 1500px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 1300px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.div1
{
    width: 100%;
    height: 300px;
}
.footer-logo
{
    position: relative;
    top: -30px;
}
.div2
{
    width: 100%;
    height: 300px;
}
.div2 ul
{
    position: relative;
    top: -50px;
}
.div3
{
    width: 100%;
    height: 300px;
    padding-left: 30px;
}
.div4
{
    width: 100%;
    height: 300px;
}
.leader
{
    position: relative;
    top: -40px;
}
.email-send
{
    position: relative;
    top: -20px;
}
.copyright
{
    height: 100px;
}
.copyright p
{
    font-size: 12px;
}
}


@media(max-width:425px)
{
    .header
    {
        width: 100%;
        height: 300px;
    }
    .container
    {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .container .logo
    {
        text-align: center;
        margin-top: 30px;
    }
    .container ul
    { 
        display: flex;
        flex-direction: column;
    }
    .container ul li
    {
        list-style: none;
        padding: 10px 0px;
    }
    .home::after
    {
        content: '';
        border-bottom: 3px solid orangered;
        width:10%;
        display: block;
        margin-top: 10px;
        position: absolute;
    }

    .sub-main h1::after
    {
        content: '';
        width: 20%;
        display: block;
        border-bottom: 3px solid orangered;
        position: relative;
        top: 15px;
    }
    
    /* photoes */
    
    .photoes
    {
        width: 100%;
        height: 4750px;
    }
    .sub-photoes
    {
        width: 90%;
        height: 4500px;
        margin: auto;
        position: relative;
        top: 100px;
    }
    .first-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sec-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .third-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    /* first-line */
    
    .fl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-fl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-fl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .sl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-sl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-sl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .tl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-tl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-tl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .loadbtn
{
    width: 50%;
    padding: 15px 30px;
    position: relative;
    top: 50px;
    left: 25%;
    border-radius: 20px;
}
    

    .footer
{
    width: 100%;
    height: 1500px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 1300px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.div1
{
    width: 100%;
    height: 300px;
}
.footer-logo
{
    position: relative;
    top: -30px;
}
.div2
{
    width: 100%;
    height: 300px;
}
.div2 ul
{
    position: relative;
    top: -50px;
}
.div3
{
    width: 100%;
    height: 300px;
    padding-left: 30px;
}
.div4
{
    width: 100%;
    height: 300px;
}
.leader
{
    position: relative;
    top: -40px;
}
.email-send
{
    position: relative;
    top: -20px;
}
.copyright
{
    height: 100px;
}
.copyright p
{
    font-size: 11px;
}
}


@media(max-width:380px)
{
    .header
    {
        width: 100%;
        height: 300px;
    }
    .container
    {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .container .logo
    {
        text-align: center;
        margin-top: 30px;
    }
    .container ul
    { 
        display: flex;
        flex-direction: column;
    }
    .container ul li
    {
        list-style: none;
        padding: 10px 0px;
    }
    .home::after
    {
        content: '';
        border-bottom: 3px solid orangered;
        width:10%;
        display: block;
        margin-top: 10px;
        position: absolute;
    }

    .sub-main h1::after
    {
        content: '';
        width: 20%;
        display: block;
        border-bottom: 3px solid orangered;
        position: relative;
        top: 15px;
    }
    
    /* photoes */
    
    .photoes
    {
        width: 100%;
        height: 4750px;
    }
    .sub-photoes
    {
        width: 90%;
        height: 4500px;
        margin: auto;
        position: relative;
        top: 100px;
    }
    .first-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sec-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .third-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    /* first-line */
    
    .fl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-fl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-fl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .sl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-sl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-sl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .tl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-tl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-tl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .loadbtn
{
    width: 50%;
    padding: 15px 30px;
    position: relative;
    top: 50px;
    left: 25%;
    border-radius: 20px;
}
    

    .footer
{
    width: 100%;
    height: 1500px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 1300px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.div1
{
    width: 100%;
    height: 300px;
}
.footer-logo
{
    position: relative;
    top: -30px;
}
.div2
{
    width: 100%;
    height: 300px;
}
.div2 ul
{
    position: relative;
    top: -50px;
}
.div3
{
    width: 100%;
    height: 300px;
    padding-left: 30px;
}
.div4
{
    width: 100%;
    height: 300px;
}
.leader
{
    position: relative;
    top: -40px;
}
.email-send
{
    position: relative;
    top: -20px;
}
.copyright
{
    height: 100px;
}
.copyright p
{
    font-size: 9px;
}
}


@media(min-width:321px) and (max-width:350px)
{
    .header
    {
        width: 100%;
        height: 300px;
    }
    .container
    {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .container .logo
    {
        text-align: center;
        margin-top: 30px;
    }
    .container ul
    { 
        display: flex;
        flex-direction: column;
    }
    .container ul li
    {
        list-style: none;
        padding: 10px 0px;
    }
    .home::after
    {
        content: '';
        border-bottom: 3px solid orangered;
        width:10%;
        display: block;
        margin-top: 10px;
        position: absolute;
    }

    .sub-main h1::after
    {
        content: '';
        width: 20%;
        display: block;
        border-bottom: 3px solid orangered;
        position: relative;
        top: 15px;
    }
    
    /* photoes */
    
    .photoes
    {
        width: 100%;
        height: 4750px;
    }
    .sub-photoes
    {
        width: 90%;
        height: 4500px;
        margin: auto;
        position: relative;
        top: 100px;
    }
    .first-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sec-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .third-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    /* first-line */
    
    .fl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-fl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-fl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .sl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-sl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-sl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .tl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-tl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-tl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .loadbtn
{
    width: 50%;
    padding: 15px 30px;
    position: relative;
    top: 50px;
    left: 25%;
    border-radius: 20px;
}
    

    .footer
{
    width: 100%;
    height: 1500px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 1300px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.div1
{
    width: 100%;
    height: 300px;
}
.footer-logo
{
    position: relative;
    top: -30px;
}
.div2
{
    width: 100%;
    height: 300px;
}
.div2 ul
{
    position: relative;
    top: -50px;
}
.div3
{
    width: 100%;
    height: 300px;
    padding-left: 30px;
}
.div4
{
    width: 100%;
    height: 300px;
}
.leader
{
    position: relative;
    top: -40px;
}
.email-send
{
    position: relative;
    top: -20px;
}
.copyright
{
    height: 100px;
}
.copyright p
{
    font-size: 9px;
}
}


@media(max-width:320px)
{
    .header
    {
        width: 100%;
        height: 300px;
    }
    .container
    {
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .container .logo
    {
        text-align: center;
        margin-top: 30px;
    }
    .container ul
    { 
        display: flex;
        flex-direction: column;
    }
    .container ul li
    {
        list-style: none;
        padding: 10px 0px;
    }
    .home::after
    {
        content: '';
        border-bottom: 3px solid orangered;
        width:10%;
        display: block;
        margin-top: 10px;
        position: absolute;
    }

    .sub-main h1::after
    {
        content: '';
        width: 20%;
        display: block;
        border-bottom: 3px solid orangered;
        position: relative;
        top: 15px;
    }
    
    /* photoes */
    
    .photoes
    {
        width: 100%;
        height: 4750px;
    }
    .sub-photoes
    {
        width: 90%;
        height: 4500px;
        margin: auto;
        position: relative;
        top: 100px;
    }
    .first-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sec-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .third-line
    {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    /* first-line */
    
    .fl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-fl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .fl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-fl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-fl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-fl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-fl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-fl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .sl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-sl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .sl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-sl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-sl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-sl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-sl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-sl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .tl-img1
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl1
    {
        width: 100%;
        height: 350px;
    }
    .sub-tl-data1 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img2
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl2
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl-data2
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data2 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data2 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }
    
    .tl-img3
    {
        width: 100%;
        height: 500px;
    }
    .sub-tl3
    {
        width: 100% ;
        height: 350px;
    }
    .sub-tl3 img
    {
        width: 100%;
        height: 100%;
    }
    .sub-tl-data3
    {
        width: 100%;
        height: 150px;
    }
    .sub-tl-data3 h4
    {
        padding: 20px 0px;
    }
    .sub-tl-data3 p
    {
        padding: 20px 0px;
        color: orangered;
        font-size: 13px;
    }

    .loadbtn
{
    width: 50%;
    padding: 15px 30px;
    position: relative;
    top: 50px;
    left: 25%;
    border-radius: 20px;
}
    

    .footer
{
    width: 100%;
    height: 1500px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 1300px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.div1
{
    width: 100%;
    height: 300px;
}
.footer-logo
{
    position: relative;
    top: -30px;
}
.div2
{
    width: 100%;
    height: 300px;
}
.div2 ul
{
    position: relative;
    top: -50px;
}
.div3
{
    width: 100%;
    height: 300px;
    padding-left: 30px;
}
.div4
{
    width: 100%;
    height: 300px;
}
.leader
{
    position: relative;
    top: -40px;
}
.email-send
{
    position: relative;
    top: -20px;
}
.copyright
{
    height: 100px;
}
.copyright p
{
    font-size: 9px;
}
}