*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header
{
    width: 100%;
    height: 80px;
}
.container
{
    width: 80%;
    height: 80px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.container ul
{ 
    display: flex;
}
.container ul li
{
    list-style: none;
    padding: 0px 20px;
}
.container ul li a
{
    text-decoration: none;
    color: black;
}

.home::after
{
    content: '';
    border-bottom: 3px solid orangered;
    width:3%;
    display: block;
    margin-top: 25px;
    position: absolute;
}

.container ul li a :hover
{
    content: '';
    border-bottom: 1px solid orangered;
    width: 100%;
    color: orangered;
    display: block;
    transition: 0.5s;
}

/* bg-main*/

.bg-main
{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/bgimage.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-content
{
    width: 60%;
    height: 400px;
    padding: 15px;
    position: relative;
    top: 20%;
    left: 10%;
}
.donate
{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.world
{
    font-size: 45px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.bg-content p
{
    font-size: 16px;
    margin-top: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.buttons
{
    display: flex;
    height: 100px;
    position: relative;
    top: 80px;
}
.btndonate
{
   
    background-color: orangered;
    border-radius: 30px;
    height: 55px;
}
.btndonate a
{
    padding: 0px 40px;
    color: white;
    text-decoration: none;
    line-height: 55px;
}
.readbtn
{
    border-radius: 30px;
    height: 55px;
    margin-left: 10px;
    border: 1px solid orangered;
}
.readbtn a
{
    padding: 0px 40px;
    color: white;
    text-decoration: none;
    line-height: 55px;
}
.readbtn a:hover
{
    background-color: orangered;
}

/* box */
.box
{
    width: 100%;
    height: 500px;
}
.box-container
{
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.box1
{
    width: 30%;
    height: 300px;
    background-color: orangered;
    border-radius: 20px;
    margin-top: 90px;
    padding: 20px 30px;
}
.box1 img
{
    margin-left: 120px;
    color: white;
    margin-top: 30px;
}
.box1 h2
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 30px 0px;
}
.box1 p
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.box2
{
    width: 30%;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 90px;
    padding: 20px 30px;
}
.box2 i
{
    margin-left: 120px;
    font-size: 70px;
    position: relative;
    top: 20px;
    
}
.box2 h2
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px 0px;
    margin-top: 20px;
}
.box2 p
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box2:hover
{
    color: white;
    background-color: orangered;
}
.box3
{
    width: 30%;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 90px;
    padding: 20px 30px;
}
.box3 img
{
    margin-left: 120px;
    margin-top: 30px;
}
.box3 h2
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px 0px;
}
.box3 p
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.box3:hover
{
    color: white;
    background-color: orangered;
}

/*data-image*/

.data-image
{
    width: 100%;
    height: 500px;
}
.data-image-container
{
    width: 100%;
    height: 500px;
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url('images/bgimage.webp');
    display: flex;
}
.data
{
    width: 38%;
    height: 370px;
    margin-top: 65px;
    padding: 10px 20px;
    margin-left: 150px;
}
.data h1::after
{
    content: '';
    display: block;
    width: 12%;
    border-bottom: 5px solid orangered;
    position: relative;
    top: 5px;
}
.data h1
{
    color: white;
    font-size: 40px;
}
.data p
{
    font-size: 17px;
    text-align: justify;
    padding: 40px 10px;
    color: white;
}
.data a
{
    border: 1px solid orangered;
    color: white;
    padding: 12px 30px ;
    text-decoration: none;
    background-color: orangered;
    border-radius: 30px;
    position: relative;
    top: 20px;
}
.image
{
    width: 39%;
    height: 340px;
    background-color: aqua;
    margin-top: 90px;
}
.image img
{
    width: 100%;
    height: 100%;
}

/* event-main */

.event-main
{
    width: 100%;
    height: 900px;
}
.event-main-container
{
    width: 80%;
    height: 900px;
    margin: auto;
    display: flex;
}
.event
{
    width: 48%;
    height: 660px;
    margin-left: 1%;
    margin-top: 95px;
}
.features
{
    width: 48%;
    height: 660px;
    margin-left: 2%;
    margin-top: 95px;
}
.event h1
{
    margin-left: 5px;
}
.event h1::after
{
    content: '';
    width: 10%;
    border-bottom: 5px solid orangered;
    display: block;
    border-radius: 20px;
    position: relative;
    top: 20px;
}
.event-data
{
    display: flex;
    width: 100%;
    height: 180px;
    margin-top: 50px;
}
.event-data .image1
{
    width: 30%;
    height: 160px;
    margin-top: 10px;
}
.event-data .image1 img
{
    height: 160px;
    width: 100%;
}
.info1
{
    width: 69%;
    height: 160px;
    margin-top: 10px;
    margin-left: 1%;
}
.event-data2
{
    display: flex;
    width: 100%;
    height: 180px;
    margin-top: 10px;
}
.event-data2 .image2
{
    width: 30%;
    height: 160px;
    margin-top: 10px;
}
.event-data2 .image2 img
{
    height: 160px;
    width: 100%;
}
.info2
{
    width: 69%;
    height: 160px;
    margin-left: 1%;
    margin-top: 10px;
}
.event-data3
{
    display: flex;
    width: 100%;
    height: 180px;
    margin-top: 10px;
}
.event-data3 .image3
{
    width: 30%;
    height: 160px;
    margin-top: 10px;
}
.event-data3 .image3 img
{
    height: 160px;
    width: 100%;
}
.info3
{
    width: 69%;
    height: 160px;
    margin-left: 1%;
    margin-top: 10px;
}

.fonts
{
    font-family: Arial, Helvetica, sans-serif;
}
.small
{
    font-size: 14px;
    margin: 15px 0px;
}
.gray
{
    color: gray;
}
.orange
{
    color: orangered;
    text-decoration: none;
    position: relative;
    top: 20px;
}
.features h1::after
{
    content: '';
    width: 10%;
    border-bottom: 5px solid orangered;
    display: block;
    border-radius: 20px;
    position: relative;
    top: 20px;
}
.features h1
{
    margin-left: 10px;
}
.feature-container
{
    width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.feature-img
{
    width: 50%;
    height: 350px;
    margin-top: 50px;
    padding: 10px;
}
.feature-data
{
    width: 50%;
    height: 350px;
    margin-top: 50px;
    padding: 10px;
}
.feature-img img
{
    width: 100%;
    height: 100%;
}
.feature-data h2
{
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.date
{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
.paragraph
{
    color: gray;
    text-align: justify;
    margin-top: 40px;
    font-size: 20px;
}
.donatebtn
{
    color: white;
    background-color: orangered;
    padding: 15px 30px;
    position: relative;
    border-radius: 20px;
    top: 70px;
    left: 20%;
    text-decoration: none;
}
.feature-percent
{
    width: 100%;
    height: 120px;
    background-color: whitesmoke;
    
}
.feature-donation
{
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}
.feature-raise
{
    color: gray;
    margin-left: 10px;
}
.feature-goal
{
    color: gray;
    margin-right: 10px;
}
.box-percent
{
    width: 40px;
    height: 40px;
    background-color: orangered;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 70%;
}
.percent
{
    color: white;
    position: relative;
    top: 10px;
    left: 5px;
}

/* cause */


.ourcauses
{
    width: 100%;
    height: 800px;
    background-image: url('images/our-causes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.sub-cause
{
    width: 80%;
    margin: auto;
    height: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cause-h1
{
    width: 100%;
    height: 180px;
    line-height: 180px;
}
.cause-h1::after
{
    content: '';
    border-bottom: 2px solid orangered;
    width: 12%;
    display: block;
    position: relative;
    top: -50px;
}

.first
{
    width: 32%;
    height: 450px;
    background-color: whitesmoke;
}
.first .cause-image
{
    width: 100%;
    height: 200px;
}
.first .cause-image img
{
    width: 100%;
    height: 100%;
}
.first .cause-data h3 
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    padding: 0px 20px;
}
.first .cause-data p
{
    color: gray;
    font-size: 16px;
    padding: 0px 20px;
    margin-top: 20px;
}
.first .cause-box
{
    width: 100%;
    height: 80px;
    margin-top: 20px;
}
.first .cause-percent
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    margin-left: 65%;
}
.first .donation
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
.first .raised
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first .goal
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.second
{
    width: 32%;
    height: 450px;
    background-color: whitesmoke;
}
.second .cause-image
{
    width: 100%;
    height: 200px;
}
.second .cause-image img
{
    width: 100%;
    height: 100%;
}
.second .cause-data h3 
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    padding: 0px 20px;
}
.second .cause-data p
{
    color: gray;
    font-size: 16px;
    padding: 0px 20px;
    margin-top: 20px;
}
.second .cause-box
{
    width: 100%;
    height: 80px;
    margin-top: 20px;
}
.second .cause-percent
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    margin-left: 65%;
}
.second .donation
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
.second .raised
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second .goal
{
    display: flex;
    justify-content: center;
    align-items: center;
}



.third
{
    width: 32%;
    height: 450px;
    background-color: whitesmoke;
}
.third .cause-image
{
    width: 100%;
    height: 200px;
}
.third .cause-image img
{
    width: 100%;
    height: 100%;
}
.third .cause-data h3 
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    padding: 0px 20px;
}
.third .cause-data p
{
    color: gray;
    font-size: 16px;
    margin-top: 20px;
    padding: 0px 20px;
}
.third .cause-box
{
    width: 100%;
    height: 80px;
    margin-top: 20px;
}
.third .cause-percent
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    margin-left: 73%;
}
.third .donation
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
.cause-percent span
{
    position: relative;
    top: 15px;
    left: 10px;
}
.third .raised
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third .goal
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* achievement */

.achievement
{
    width: 100%;
    height: 600px;
}
.achievement-container
{
    width: 70%;
    height: 400px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.achive-data
{
    width: 50%;
    height: 400px;
}
.achive-data h1
{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}
.achive-data h1::after
{
    content: '';
    width: 12%;
    border-bottom: 3px solid orangered;
    display: block;
    position: relative;
    top: 20px;
}
.achive-data p
{
    margin-top: 40px;
    color: gray;
    padding: 10px;
    text-align: justify;
    font-size: 16px;
}

.achive-image
{
    width: 50%;
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.img1
{
    width: 30%;
    height: 250px;
}
.img1 img
{
    width: 80%;
    height: 120px;
    margin-left: 10%;
    margin-top: 10px;
}
.img1 h2
{
    text-align: center;
    margin-top: 30px;
}
.img1 span
{
    font-size: 30px;
}
.img1 p
{
    text-align: center;
    margin-top: 20px;
}
.img2
{
    width: 30%;
    height: 250px;
}
.img2 img
{
    width: 80%;
    height: 120px;
    margin-left: 10%;
    margin-top: 10px;
}
.img2 h2
{
    text-align: center;
    margin-top: 30px;
}
.img2 span
{
    font-size: 30px;
}
.img2 p
{
    text-align: center;
    margin-top: 20px;
}
.img3
{
    width: 30%;
    height: 250px;
}
.img3 img
{
    width: 80%;
    height: 120px;
    margin-left: 10%;
    margin-top: 10px;
}
.img3 h2
{
    text-align: center;
    margin-top: 30px;
}
.img3 span
{
    font-size: 30px;
}
.img3 p
{
    text-align: center;
    margin-top: 20px;
}

/* footer */

.footer
{
    width: 100%;
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/footer-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container
{
    width: 80%;
    height: 290px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
}
.div1
{
    width: 25%;
    height: 290px;
}
.div1 .footer-image
{
    width: 80%;
    margin: auto;
    height: 100px;
}
.div1 .footer-image img
{
    width: 80%;
    height: 50px;
    margin-top: 20px;
    margin: auto;
   
}
.footer-para
{
    height: 150px;
    width: 100%;
    padding: 0px 10px;
}
.footer-para p
{
    color: gray;
    font-size: 16px;
    text-align: justify;
}
.footer-logo
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    line-height: 40px;
}

.footer-logo i
{
    width: 15%;
    color: white;
}
.footer-logo i:hover
{
    color: orangered;
}


.div2
{
    width: 25%;
    height: 290px;
    padding-left: 30px;
}
.div2 h3
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.div2 ul
{

    margin-top: 70px;
}
.div2 li
{
    padding: 5px 0px;
    list-style: none;
}
.div2 li a
{
    color: gray;
    text-decoration: none;
}

.div3
{
    width: 25%;
    height: 290px;
}
.div3 h3
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.div3 .first-p
{
    margin-top: 70px;
    color: gray;
}
.div3 .second-p
{
    margin-top: 40px;
    color: gray;
}
.div3 .third-p
{
    margin-top: 40px;
    color: gray;
}
.div3 .first-p:hover
{
    color: orangered;
}
.div3 .second-p:hover
{
    color: orangered;
}
.div3 .third-p:hover
{
    color: orangered;
}
.div3 span
{
    color: orangered;
    font-size: 12px;
}
.div4
{
    width: 25%;
    height: 290px;
}
.div4 h3
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.leader
{
    width: 90%;
    margin: auto;
    margin-top: 70px;
}
.sub-leader
{
    display: flex;
}
.sub-leader2
{
    display: flex;
    margin-top: 20px;
}
.sub-leader3
{
    display: flex;
    margin-top: 20px;
}
.leader i
{
    color: orangered;
}
.leader p
{
    margin-left: 20px;
    color: gray;
}
.email-send
{
    display: flex;
    position: relative;
    top: 40px;
    width: 90%;
    margin: auto;
}
.email-send input
{
    width: 75%;
    height: 40px;
}
.email-send input ::placeholder
{
    color: gray;
}
.email-send button
{
    width: 25%;
    height: 40px;
    color: white;
    background-color: orangered;
}
.copyright
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 230px;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1));
}
.copyright p
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.copyright p a
{
    color: gray;
}

